.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.footer-section {
  background-color: $footer-background;
  padding-bottom: 60px;
  padding-top: 60px;

  .container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}
